<h1> Hello {{title}}</h1>
<button type="button" [disabled]="isDisabled">{{btn}}</button>


<!-- Attribute Binding -->
    <img [src]="imageSource" alt="AngularImage" height="100" width="100"/>


<!-- style Binding -->
    <div [style.background-color]="bgcolor">
        <h2 [style.color]="h2color">This has red backgroundcolor</h2>
    </div>

<!-- Event Binding -->
    <button (click)="incrementCounter()">IncrementCounter</button>
    {{counter}}

<!--Attribute Directives-->

    <!-- ngModel  Example-->
        <h2>Name is: {{name}}</h2>
        <input [(ngModel)]="name" placeholder="Enter Name">

    
    <!--ngClass-->
        <div [(ngClass)]="text_class">
            <h1>This is ngClass Example</h1>
        </div>

    <!--ngStyle-->
   
        <div [ngStyle]="{'color':textcolor}">
            <h1>This is ngStyle Example</h1>
        </div>
    

<!--Structure Directives-->

        <!--ngIf-->
        <div *ngIf="isLoggedin">Welcome Bhagyashree</div>
        <div *ngIf="!isLoggedin">Please LoggedIn to view Content</div>

        <!-- ngIf else -->
        <div *ngIf="isLoggedin else LoggedIn">Welcome Sakshi</div>
        <ng-template #LoggedIn>Please LogIn</ng-template>

        <!-- ngFor -->
        <ul>
            <li *ngFor="let name of names;">{{name}}</li>
        </ul>

        <!-- ngSwitch -->
        <div [ngSwitch]="grade">
            <p *ngSwitchCase="'A'">Execellent</p>
            <p *ngSwitchCase="'B'">Good</p>
            <p *ngSwitchCase="'C'">Average</p>
            <p *ngSwitchDefault>Unknown</p>
        </div>


<!-- pipes -->

       <h1> {{pipe|uppercase}}</h1>
       <h1> {{pipe|lowercase}}</h1>

       <div>
        Today is: {{today|date}}
       </div>
       <div>
        Today is: {{today|date:"fullDate"}}
       </div>

       <!-- Using append custom pipe -->
       <div>
        Appended Text is :{{pipe|append:"Custome"}}
       </div>

        
       


<router-outlet></router-outlet>
<app-messages></app-messages>
